html {
  height: 100vh;
}

body, #root, .homepage {
  background: #1f1f1f;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.line,
.subtitle {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 40px;
}

.line {
  color: #e67b46;
  text-shadow: 0 0 4px #e67b46;
}
