@keyframes pulse {
  0% {
    box-shadow: 0 0 8px var(--pulseColor), inset 0 0 8px var(--pulseColor);
  }
  50% {
    box-shadow: 0 0 16px gray, inset 0 0 14px gray;
  }
  100% {
    box-shadow: 0 0 8px var(--pulseColor), inset 0 0 8px var(--pulseColor);
  }
}

.feelingButton,
.postcard {
  background-color: transparent;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  box-shadow: 0 0 8px var(--pulseColor), inset 0 0 8px var(--pulseColor);
  -webkit-animation: pulse 5s linear 1s infinite;
  margin: 1em;
}

.feelingButton p,
.postcard p {
  display: block;
  text-align: center;
  line-height: 9rem;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 24px;
}
.postcard {
  width: 15rem;
  height: 15rem;
}
