.postcard-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  border-radius: 50%;
}

.sentence {
  color: white;
  position: absolute;
  transition: opacity 1s, visibility 1s;
  visibility: hidden;
  margin: 3rem;
  text-align: center;
}

.postcard-wrapper:hover .sentence {
  visibility: visible;
  opacity: 1;
}

.postcard-wrapper:hover .postcard {
  opacity: 15%;
  transition: opacity 1s, visibility 1s;
}
