.stats-container {
  border: 2px solid #857e7a;
  width: 500px;
  padding: 10px;
  margin-top: 0px;
}

.page-container {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkin-buttons p {
  margin: 0;
  font-size: 28px;
  line-height: 9rem;
  color: #3fd560;
  text-shadow: 0 0 4px #3fd560;
}

.refresh p {
  color: #a020f0;
  text-shadow: 0 0 4px #a020f0;
}

.refresh:hover {
  cursor: pointer;
}
